<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <a href="">Chat</a>
    <a href="{% url 'webuser:sendreq' %}">sendreq</a>
    <a href="{% url 'webuser:feedback' %}">feedback</a>
    <a href="{% url 'webuser:complaint' %}">complaint</a>
    <a href="{% url 'webuser:Myprofile' %}">Myprofile</a>
    <a href="{% url 'webuser:chat' wardmember %}">Chat To Member</a>
    <a href="{% url 'webuser:viewres' %}">ViewResources</a>
</body>
</html>