{% extends 'User/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for i in res %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.res.project_name }}</td>
                <td>{{ i.res.Description }}</td>
                <td>{{ i.res.project_date }}</td>
                <td><a href="{% url 'webuser:Request' i.id %}">Request</a></td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit Request">
    </form>
</body>
</html>
{% endblock content %}
