{% extends 'Wardmember/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>#</td>
                <td>User Name</td>
                <td>Ward</td>
                <td>Project Name</td>
                <td>description</td>
                <td></td>
            </tr>
            {% for i in res %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.ward.ward_name}}</td>
                <td>{{i.resq.project_name}}</td>
                <td>{{i.res.Request_description}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}