<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'webwardmember:viewreq' %}">viewreq</a>
    <a href="{% url 'webwardmember:Myprofile' %}">Myprofile</a>
    <a href="{% url 'webwardmember:complaint' %}">complaint</a>
    
    <a href="{% url 'webwardmember:feedback' %}">Feedback</a>
    <a href="{% url 'webwardmember:Accept' %}">Accept</a>
    <a href="{% url 'webwardmember:Rejected' %}">Reject</a>
    <a href="{% url 'webwardmember:viewres' %}">ViewResources</a>





</body>
</html>