{% extends 'Admin/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>WardMember</h3>
    <table>
    <tr>
        <td>#</td>
        <td>WardMember Name</td>
        <td>complaint content</td>
        <td>complaint date</td>
        <td>Reply</td>
    </tr>
    {% for i in wm %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.wm.wardmember_name}}</td>
        <td>{{i.complaint.complaint_content}}</td>
        <td>{{i.complaint.complaint_date}}</td>
        <td>{{i.complaint.complaint_reply}}</td>
    </tr>
{% endfor %}
</table>
<br><br><br><br><br>
<table>
    <h3>User</h3>
    <tr>
        <td>#</td>
        <td>User Name</td>
        <td>complaint content</td>
        <td>complaint date</td>
        <td>Reply</td>
    </tr>
    {% for i in user %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.user.user_name}}</td>
        <td>{{i.complaint.complaint_content}}</td>
        <td>{{i.complaint.complaint_date}}</td>
        <td>{{i.complaint.complaint_reply}}</td>
    </tr>
{% endfor %}
</table>


</body>
</html>
{% endblock content %}