<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <table>
       
        <tr>
            <td>#</td>
            <td>Wardmember Name</td>
            <td>Content</td>
        
        </tr>
        {% for i in wm %}
       

        <tr>
            <td>{{forloop.counter}}</td>
         
            <td>{{i.wm.wardmember_name}}</td>
            <td>{{i.feedback.feedback_content}}</td>
            
            
        </tr>
        {% endfor %}

</table>
<table>
    <tr>
        <td>#</td>
        <td>User Name</td>
        <td>Content</td>
    
    </tr>
    {% for i in user %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.user.user_name}}</td>
        
        <td>{{i.feedback.feedback_content}}</td>    
    </tr>
      
        {% endfor %}
</table>
</form>
</body>
</html>
